body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-top: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.column {
  flex: 25%;
  padding: 5px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
  }
}